#main-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    color: var(--title);
}

#main-aside {
    position: relative;
    width: 20%;
    height: 100%;
    background: var(--aside);
    display: flex;
    flex-direction: column;
    gap: 10%;

}

#main {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main);
}


#aside-logo {
    margin-top: 5%;
    font-size: 30pt;
    color: var(--title);
    text-align: center;
    width: 100%;
}

#main-aside-playlists-group {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#main-aside-playlists-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#main-create-new-playlist {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: transparent;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*&:hover {*/
    /*    filter: brightness(1.5);*/
    /*}*/

}

#main-create-new-playlist > svg {
    width: 100%;
}

#main-create-delete-playlist {
    width: 10%;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*&:hover {*/
    /*    filter: brightness(1.5);*/
    /*}*/
}

#main-create-delete-playlist > svg {
    width: 100%;
}

#main-create-edit-playlist {
    width: 10%;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /*&:hover {*/
    /*    filter: brightness(1.5);*/
    /*}*/
}

#main-create-edit-playlist > svg {
    width: 65%;
}


#main-aside-playlists {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex: 0 0 1;
    overflow: auto;
    gap: 5%;
}

#main-aside-playlists::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#main-settings {
    height: 4%;
    aspect-ratio: 1/1;
    /*background: transparent;*/
    position: absolute;
    left: 5%;
    top: 83%;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;


}

#main-settings > svg {
    width: 100%;
    aspect-ratio: 1/1;
}

#main-settings > svg > path {
    fill: var(--svg);
    stroke: var(--svg);
}

#main-spaces {
    position: absolute;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20%;
    left: 3%;
    top: 2%;
}

#main-spaces-logo {
    z-index: 21;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background: var(--red);
    border: 0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        background: #d55757;
    }

}

#main-spaces-logo > svg {
    width: 60%;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

#main-spaces-name {
    font-size: 20pt;
    color: var(--title);
}

#main-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}

#main-filters {
    z-index: 25;
    display: flex;
    width: 85%;
    position: relative;
    height: 10%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*top: -35%;*/
}


#filters-main {
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 70%;
    height: 100%;
    gap: 2.5%;
    left: -5%;
}

#filters-main > p {
    text-align: center;
    border-right: 2px solid var(--sub-title);
    color: var(--sub-title);
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    -webkit-user-select: none;
}

#filters-number {
    width: 15%;
}

#filters-name {
    width: 25%;
}

#filters-artist {
    width: 20%;
}

#filters-album {
    width: 20%;
}

#filters-sorting-option {
    width: 25%;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: var(--sub-subtitle);
    font-size: 10pt;
}

#filters-sorting {
    background: var(--main);
    color: var(--sub-title);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 solid;
    outline: none;
}

#filters-sorting-p {
    color: var(--sub-title);
}


#main-songs {
    width: 100%;
    position: relative;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 0 0 1;
    font-size: 20pt;
    /*color: white;*/
}

#main-songs::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 5px;
}

#main-songs::-webkit-scrollbar-track {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
}

#main-songs::-webkit-scrollbar-thumb {
    background: var(--sub-title);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 100px;
    width: 5px;
}

.main-song {
    position: relative;
    left: 5%;
    background: var(--main);
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10%;

    &:hover {
        background: var(--main-hover);
    }
}

.main-song-group {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    /*gap: 10%;*/
}

.main-song-group > p {
    font-size: 10pt;
    overflow: auto;
    color: var(--title);
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.main-song-group > p::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.main-song-image-out {
    height: 65%;
    aspect-ratio: 1/1;
    background: transparent;
    border: 2px solid var(--main);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    left: 5%;
    position: relative;
    top: 17.5%;
    overflow: hidden;
}

.main-song-image-out > img {
    position: relative;
    width: 100%;

}

.main-song-number {
    width: 5%;
    height: 100%;
    left: 3%;
    text-align: end;
}


.main-song-name {
    width: 15%;
    height: 100%;
    left: 10%;
}

.main-song-artist {
    width: 10%;
    height: 100%;
    left: 20%;
}

.main-song-album {
    width: 10%;
    height: 100%;
    left: 33%;
}


.main-song-duration {
    font-size: 10pt;
    width: 5%;
    overflow: auto;
    color: var(--title);
    position: absolute;
    left: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-song-duration::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#main-footer {
    position: absolute;
    width: 100%;
    height: 10%;
    background: var(--footer);
    top: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#footer-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 1%;
    gap: 5%;
}

#footer-audio-logo {
    position: relative;
    aspect-ratio: 1/1;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0 solid;
    background: var(--main);
    flex-shrink: 0;

}

#footer-audio-logo > img {
    width: 100%;
}

#footer-audio-label {
    height: 100%;
    width: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /*flex-grow: 1;*/


    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}


#label-name {
    color: var(--title);
    font-size: 10pt;
    overflow: hidden;
    word-wrap: break-word;
    text-align: start;
    width: 100%;
}

#label-author {
    text-align: start;
    color: var(--sub-title);
    font-size: 10pt;
    overflow: hidden;
    word-wrap: break-word;
    width: 100%;
}


#footer-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    position: relative;
}

#footer-main-buttons {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


.main-button {
    height: 95%;
    aspect-ratio: 1/1;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0 solid;
    transition: all 0.5s;

}

.main-button > svg {
    width: 100%;
}

#footer-duration {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

#footer-duration-value {
    color: var(--footer-color);
    font-size: 15pt;
    position: absolute;
    left: 0;
}


#duration {
    position: absolute;
    background: var(--footer-color);
    border: 0 solid;
    outline: none;
    width: 90%;
    left: 10%;

}

#footer-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%
}

#footer-right-inner {
    height: 100%;
    width: 60%;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-other-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.other-button {
    height: 95%;
    aspect-ratio: 1/1;
    border: 0 solid;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;


}

.other-button > svg {
    width: 100%;
}

#footer-volume {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volume-value {
    color: var(--footer-color);
    font-size: 15pt;
    position: absolute;
    left: 1%;
}

#volume {
    background: var(--footer-color);
    border: 0 solid;
    outline: none;
    width: 55%;
    position: absolute;
    left: 20%;
}

#volume::-webkit-progress-bar {
    width: 2px;
}

.main-coloring {
    background: rgba(255, 255, 255, 0.3) !important;

    &:hover {
        background: rgba(255, 255, 255, 0.4) !important;
    }
}


.lighted {
    animation: lighted 0.15s;
    filter: brightness(2) !important;
}

@keyframes lighted {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(2);
    }
}


input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 100%;
    background: var(--range);
    border: 0 solid;
    border-radius: 100px;
}

input[type=range] {
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    height: 5%;

}

input[type=range]::-webkit-slider-thumb {
    margin: -4px;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: var(--range);
    -webkit-appearance: none;
    appearance: none;
    transition: all 0.2s;

    &:hover {
        filter: brightness(1.5);
        transform: scale(1.1);
    }
}


.main-playlist-body {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    background: var(--aside);
    gap: 10%;

    &:hover {
        background: var(--aside-hover);
    }
}

.main-playlist-body-pic-out {
    height: 90%;
    aspect-ratio: 1/1;
    background: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

}

.main-playlist-body-pic {
    width: 100%;
}

@media (width >=1500px) and (height >900px) {
.main-playlist-name {
    color: var(--title);
    font-size: 15pt;
}

}

@media (width < 1500px) and (height <=900px) and (width >=1000px) and (height >= 600px) {
.main-playlist-name {
    color: var(--title);
    font-size: 15pt;

}

}
.main-playlist-amount {
    font-size: 10pt;
    color: var(--sub-title);
}


#main-arrow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.04);
    top: 85%;
    left: 23%;
    border: 0 solid;
    overflow: hidden;
}

#main-arrow > svg {
    fill: #BABABA;
    width: 90%;
}


.turned {
    transform: rotate(180deg);
}

#main-pause {
    position: relative;;
}

#play-svg {
    position: absolute;
    width: 100%;

}

#pause-svg {
    position: absolute;
    width: 100%;
    opacity: 0;
}