#playlists {
    width: 100%;
    height: 100%;
    position: absolute;

}

#playlists-undo-redo {
    position: absolute;
    z-index: 30;
    width: 10%;
    height: 3%;
    top: 5%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

#playlists-undo {
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--undo);
    border-radius: 100px;
    border: 0 solid;

    &:hover {
        background: var(--undo-hover);
    }
}

#playlists-redo {
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--redo);
    border-radius: 100px;
    border: 0 solid;

    &:hover {
        background: var(--redo-hover);
    }
}

#playlists-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#playlists-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    position: relative;
}

#playlists-top {
    width: 100%;
    height: 50%;
    position: relative;
    top: 5%;
    left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}

#playlists-logo {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0 solid;
    overflow: hidden;
    position: relative;
}

#playlists-img1 {
    position: absolute;
    width: 60%;
}

#playlists-img2 {
    position: absolute;
    width: 100%;
    opacity: 0.7;
}

#playlists-input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--sub-title);
}


#playlist-name {
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: relative;
}

#playlists-name-input {
    background: var(--input-bg);
    color: var(--input-color);
    border: 1px solid var(--input-border);
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 20pt;
    position: relative;
    display: flex;
}

#playlists-input-label:focus {
    outline: none;
}


#playlists-label {
    position: relative;
    top: 4%;
    left: -20%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playlists-label-logo {
    height: 80%;
    aspect-ratio: 1/1;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playlists-label-logo > svg {
    width: 60%;
}

#playlists-label {
}

#playlists-label-label {
    color: var(--title);
    font-size: 20pt
}

#playlists-right {
    height: 70%;
    width: 40%;
    flex: 0 0 1;
    overflow: auto;
    position: relative;
}

#playlists-right::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 5px;
    background: var(--main);

}

#playlists-right::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--sub-title);
}

.playlist-body {
    position: relative;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main);
    gap: 20%;

}


.playlist-body-group {
    width: 80%;
    height: 100%;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.playlist-body-checkbox {
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
    position: absolute;
    left: 0;
}

.playlist-body-index {
    color: var(--title);
    font-size: 15px;
    position: absolute;
    left: 5%;
}

.playlist-body-pic-out {
    height: 80%;
    aspect-ratio: 1/1;
    background: var(--red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;

    top: 10%;
    left: 10%;
}

.playlist-body-pic-out > img {
    width: 100%;


}


.playlist-body-name {
    color: var(--title);
    font-size: 10pt;
    overflow: hidden;
    position: absolute;
    left: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playlist-body-artist {
    color: var(--title);
    font-size: 10pt;
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playlist-body-album {
    color: var(--title);
    font-size: 10pt;
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playlist-body-duration {
    color: var(--title);
    font-size: 10pt;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


