#settings{
    position: absolute;
    width: 100%;
    height: 100%;

}


#settings-buttons{
    position: absolute;
    z-index: 30;
    width: 10%;
    height: 3%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#settings-undo{
    background: var(--undo);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0 solid;
    &:hover{
        background: var(--undo-hover);
    }
}


#settings-redo{
    background: var(--redo);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0 solid;
    &:hover{
        background: var(--redo-hover);
    }
}


#settings-content{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}

#settings-main, #settings-sync{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid var(--aside);
}

#settings-start-page, #settings-theme{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#settings-start-input{
    height: 50%;
    aspect-ratio: 1/1;
}
#settings-start-page>p{
    color: var(--title);
    font-size: 20pt;
}
#settings-themes{
    background: var(--input-bg);
    color: var(--input-color);
    width: 50%;
}
#settings-theme>p{
    color: var(--title);
    font-size: 20pt;
}


.sync-button{
    width: 25%;
    height: 25%;
    background: var(--main);
    border: 1px solid var(--sub-title);
    color: var(--title);
    border-radius: 10px;
    font-size: 20pt;
    transition: all 0.2s;
    &:hover{
        background: var(--main-hover);
    }
}