:root {
    --red: #C74444;
    --main: #19191B;
    --aside: #232427;
    --footer: #2A2B2D;
    --orange: rgb(232,123,50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disabled {
    z-index: -1 !important;
    display: none;
}

.toggled {
    background: rgba(255, 255, 255, 0.1) !important;
}

.clicked {
    filter: brightness(2) !important;
}

.toggled-playlist {
    background: rgba(255, 255, 255, 0.2) !important;
}

.enabled {
    top: 0;
    left: 0;
}

#title-bar {
    z-index: 20;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-app-region: drag;
    background: transparent;
    gap: 1%;
    position: absolute;
}


.title-bar-button {
    -webkit-app-region: no-drag;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0 solid;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

#title-close > img {
    width: 30% !important;
    object-fit: none !important;
}

#title-close:hover {
    background: #D53232;
}

.title-bar-button > img {
    width: 50%;
    object-fit: contain;
    cursor: pointer;
}


#root {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--main);
    overflow: hidden;
}


.error {
    position: absolute;
    z-index: 30;
    width: 50%;
    height: 15%;
    top: -30%;
    left: 25%;
    background: linear-gradient(45deg, rgba(227, 71, 71, 0.5), rgba(115, 31, 31, 0.5));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: error-anima 3s;
    outline: 5px solid #ec5959;
    border-radius: 30px;

}

.error-p {
    color: white;
    font-size: 20pt;
}


@keyframes error-anima {
    0% {
        top: -30%;
    }

    20% {
        top: 5%;
    }


    60% {
        top: 5%;
    }

    80% {
        top: -30%;
    }
}




#equalizer-body{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
    background: var(--aside);
    border-radius: 20px;
}


#equalizer-buttons{
    position: absolute;
    top: 2%;
    left: 0.5%;
    width: 7%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}


#equalizer-undo{
    background: var(--red);
    border-radius: 100px;
    border: 0 solid;
    height: 100%;
    aspect-ratio: 1/1;
    &:hover{
        background: #cc5656;
    }
}


#equalizer-reset{
    background: var(--orange);
    border-radius: 100px;
    border: 0 solid;
    height: 100%;
    aspect-ratio: 1/1;
    &:hover{
        background: #e38749;
    }
}

#equalizer-list{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.equalizer-option-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin: 0 10px;
    height: 100%;
}

.equalizer-option-name,
.equalizer-option-value {
    margin: 5px 0;
    text-align: center;
    color: white;
    font-size: 15pt;
}
.equalizer-option{
    writing-mode: vertical-lr !important;
    -webkit-appearance: none;
    width: 5% !important;
    height: 90%!important;
    direction: rtl;

}
.equalizer-option::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 10px;
    background: white !important;
    cursor: pointer;
    border-radius: 3px;
    margin-top: -5px;
}
