@font-face {
    font-family: Ubuntu;
    src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --red: #C74444;
    --undo: #C74444;
    --main: #19191B;
    --main-hover: #FFFFFF19;
    --aside: #232427;
    --aside-hover: #FFFFFF33;
    --footer: #2A2B2D;
    --orange: rgb(232, 123, 50);
    --reset: #E87B32FF;
    --reset-hover: #e38749;
    --footer-clicked: white;
    --footer-color: #878787;
    --footer-hovered: #BABABA;

    --title: white;
    --sub-title: #d9d9d9;
    --input-bg: black;
    --input-color: white;
    --input-border: white;

    --redo: #46EE4C;
    --redo-hover: #5ae45f;
    --red-hover: #cc5656;
    --undo-hover: #cc5656;

    --sub-subtitle: #BABABA;

    --icon: #C8C8C8FF;

    --svg: #d9d9d9;

    --title-bar-color: #d9d9d9;
    --range: #999999
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disabled {
    z-index: -1 !important;
    display: none;
}

.toggled {
    background: var(--main-hover) !important;
}

.clicked > svg > path {
    fill: var(--footer-clicked) !important;
    stroke: var(--footer-clicked) !important;
}

.toggled-playlist {
    background: var(--aside-hover) !important;
}

.enabled {
    top: 0;
    left: 0;
}

#title-bar {
    z-index: 20;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-app-region: drag;
    background: transparent;
    position: absolute;
}


.title-bar-button {
    -webkit-app-region: no-drag;
    height: 100%;
    aspect-ratio: 1.5/1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0 solid;

    &:hover {
        background: var(--main-hover);
    }
}

.title-bar-button > svg > path {
    stroke: var(--title-bar-color);
    /*fill: var(--title-bar-color)*/
}

.title-bar-button > svg > rect {
    stroke: var(--title-bar-color);
}

#title-close > svg {
    width: 25% !important;
    object-fit: none !important;
}

#title-close:hover {
    background: #D53232;
}

.title-bar-button > svg {
    width: 40%;
    cursor: pointer;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--main);
    overflow: hidden;
}


.error {
    position: absolute;
    z-index: 30;
    width: 50%;
    height: 15%;
    top: -30%;
    left: 25%;
    background: linear-gradient(45deg, rgba(205, 55, 55, 0.7), rgba(115, 31, 31, 0.7));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: error-anima 3s;
    outline: 2px solid #ec5959;
    border-radius: 5px;

}

.error-p {
    color: white;
    font-size: 20pt;
}


.warning {
    position: absolute;
    z-index: 30;
    width: 50%;
    height: 15%;
    top: -30%;
    left: 25%;
    background: linear-gradient(45deg, rgba(223, 196, 62, 0.7), rgba(211, 182, 31, 0.7));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: error-anima 3s;
    outline: 2px solid #e7ec59;
    border-radius: 5px;

}

.warning-p {
    color: black;
    font-size: 20pt;
}

.complete {
    position: absolute;
    z-index: 30;
    width: 50%;
    height: 15%;
    top: -30%;
    left: 25%;
    background: linear-gradient(45deg, rgba(76, 170, 64, 0.7), rgba(44, 159, 32, 0.7));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: error-anima 3s;
    outline: 2px solid #6dec59;
    border-radius: 5px;

}

.complete-p {
    color: #ffffff;
    font-size: 20pt;
}


@keyframes error-anima {
    0% {
        top: -30%;
    }

    20% {
        top: 5%;
    }


    60% {
        top: 5%;
    }

    80% {
        top: -30%;
    }
}


#equalizer-body {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
    background: var(--aside);
    border-radius: 20px;
}


.animation-1-start {
    animation: anima-1 0.3s ease-in-out;

}

@keyframes anima-1 {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animation-1-end {
    animation: anima-11 0.3s ease-in-out;

}

@keyframes anima-11 {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.1);
    }
}


#equalizer-buttons {
    position: absolute;
    top: 2%;
    left: 0.5%;
    width: 7%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}


#equalizer-undo {
    background: var(--undo);
    border-radius: 100px;
    border: 0 solid;
    height: 100%;
    aspect-ratio: 1/1;

    &:hover {
        background: var(--undo-hover);
    }
}


#equalizer-reset {
    background: var(--reset);
    border-radius: 100px;
    border: 0 solid;
    height: 100%;
    aspect-ratio: 1/1;

    &:hover {
        background: var(--reset-hover);
    }
}

#equalizer-list {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.equalizer-option-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin: 0 10px;
    height: 100%;
}

.equalizer-option-name,
.equalizer-option-value {
    margin: 5px 0;
    text-align: center;
    color: var(--title);
    font-size: 15pt;
}

.equalizer-option {
    writing-mode: vertical-lr !important;
    -webkit-appearance: none;
    width: 5% !important;
    height: 90% !important;
    direction: rtl;
}

.equalizer-option::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 10px;
    background: var(--title) !important;
    cursor: pointer;
    border-radius: 3px;
    margin-top: -5px;
}


.entering {
    outline: 2px solid #3a7ecc;
}


.button {
    border-radius: 100%;
}

.button > svg {
    max-width: 80%;
}


hr {
    z-index: 30;
    height: 100%;
    position: absolute;
    background-color: #3a7ecc;
    border: none;
    width: 3px;
}

.svg {
    color: var(--svg);
}

.svg path {
    fill: currentColor;

    stroke: var(--svg) !important;
}


.warn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#session-make {
    position: absolute;
    z-index: 30;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background: var(--main);
    border-radius: 20px;
    border: 1px solid var(--sub-title);
}

#session-make-p {
    color: var(--title);
    font-size: 20pt;
}

#session-make-group {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.session-make-bt {
    width: 30%;
    height: 30%;
    border: 0 solid;
    background: var(--main);
    color: var(--sub-title);
    font-size: 15pt;
    transition: all 0.2s;
    border-radius: 20px;

    &:hover {
        background: var(--main-hover);
    }
}