#sync{
    width: 100%;
    height: 100%;
    position: absolute;
}

#sync-buttons{
    width: 10%;
    height: 3%;
    position: absolute;
    top: 3%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sync-button-1{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: 0 solid;
    border-radius: 100%;
    background: var(--undo);

    &:hover{
        background: var(--undo-hover);
    }
}



#sync-content{
    width: 100%;
    height: 100%;
    position: absolute;

}
#sync-key{
    position: relative;
    left: 5%;
    top: 8%;
    width: 20%;
    height: 5%;
    display: flex;
    gap: 5%;
    color: var(--title)
}

#sync-dirs{
    position: relative;
    top: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.dir{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.dir-name{
    width: 100%;
    height: 3%;
    color: var(--title);
    font-size: 20pt;
}

.dir-dirs{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    background: var(--input-bg);
    border-radius: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

}

.dir-audio{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 80%;
    background: var(--input-bg);
border-radius: 50px;
    overflow-x:hidden;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}