#tag-page {
    width: 100%;
    height: 100%;
    position: absolute;

}

#tag-buttons {
    z-index: 30;
    width: 10%;
    height: 3%;
    position: absolute;
    top: 5%;
    /*left: 2%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.tag-button {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: 0 solid;
}

#tag-undo {
    background: var(--undo);

    &:hover {
        background: var(--undo-hover);
    }
}

#tag-redo {
    background: var(--redo);

    &:hover {
        background: var(--redo-hover);
    }
}

#tag-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}


#tag-tags {
    position: relative;
    top: 10%;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#tag-1, #tag-2 {
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#tag-icon {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sub-title);
    border: 0 solid;
    overflow: hidden;
    position: relative;
    bottom: 17%;
}

#tag-icon-1 {
    width: 100%;
}

#tag-icon-buttons{
    padding: 1%;
    z-index: 15;
    position: absolute;
    opacity: 0;
    width: 70%;
    height: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    top: 35%;
    left: 15%;
    background: var(--icon);
    &:hover{
        opacity: 1;
    }
}

.tag-icon-button{
    aspect-ratio: 1/1;
    height: 80%;
    border-radius: 20px;
    border: 0 solid;
    background: var(--title);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;


}
.tag-icon-button>img{
    width: 100%;
}

#tag-remove-icon>img{
    width: 50% !important;
}


#tag-3 {
    width: 48%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10%;
    position: relative;
    bottom: 17%;
}


.tag-input {
    width: 90%;
    height: 15%;
    border: 1px solid var(--input-border) !important;
    border-radius: 8px;
    background: var(--input-bg) !important;
    color: var(--input-color) !important;
    font-size: 15pt;
    padding-left: 20px;
    &:focus{
        outline: none;
    }
}


.tag-input-2 {
    width: 80%;
    height: 15%;
    border: 1px solid var(--input-border) !important;
    border-radius: 8px;
    background: var(--input-bg) !important;
    color: var(--input-color) !important;
    font-size: 13pt;
    padding-left: 15px;
    &:focus{
        outline: none;
    }
}


.tag-input-3 {
    width: 40%;
    height: 40%;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background: var(--input-bg);
    color: var(--input-color);
    font-size: 10pt;
    padding-left: 10px;
    &:focus{
        outline: none;
    }
}


#tag-audio {
    width: 85%;
    height: 80%;
    flex-direction: column;
    flex: 0 0 1;
    justify-content: center;
    align-items: center;
    gap: 5%;
    overflow-y: auto;
}

#tag-audio::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 5px;
}

#tag-audio::-webkit-scrollbar-track {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
}

#tag-audio::-webkit-scrollbar-thumb {
    background: var(--sub-subtitle);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 100px;
    width: 5px;
}
#tags-info{
    position: absolute;
    top: 87%;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#tags-info-logo{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tags-info-logo>svg{
    width: 70%;
}

#tags-info-p{
    font-size: 20pt;
    color: var(--title);
}